In [9]:
import pandas as pd

In [10]:
data = pd.read_excel('lab 08 dataset.xlsx')

In [11]:
data.head(10)

     age  income student credit_rating buys_computer
0   <=30    high      no          fair            no
1   <=30    high      no     excellent            no
2  31…40    high      no          fair           yes
3     40  medium      no          fair           yes
4     40     low     yes          fair           yes
5     40     low     yes     excellent            no
6  31…40     low     yes     excellent           yes
7   <=30  medium      no          fair            no
8   <=30     low     yes          fair           yes
9     40  medium     yes          fair           yes

In [12]:
# Extracting classes
buys_computer = ['no', 'yes']
# print(buys_computer)
# Count occurrences of each class
class_counts = {}
total_instances = len(buys_computer)

for value in buys_computer:
    if value in class_counts:
        class_counts[value] += 1
    else:
        class_counts[value] = 1

# Calculate prior probabilities
prior_probabilities = {key: value / total_instances for key, value in class_counts.items()}

print("Prior probabilities for each class:")
print(prior_probabilities)

Prior probabilities for each class:
{'no': 0.5, 'yes': 0.5}

In [13]:
from collections import defaultdict


# Extracting features
features = [row[:-1] for row in data]
print(features)
# Group data by class
grouped_data = defaultdict(list)
for i, value in enumerate(buys_computer):
    grouped_data[value].append(features[i])

# Calculate class conditional densities
class_conditional_densities = {}
for class_value, instances in grouped_data.items():
    class_data = list(zip(*instances))
    class_conditional_densities[class_value] = []

    for feature_values in class_data:
        feature_density = {}

        for value in set(feature_values):
            feature_density[value] = feature_values.count(value) / len(feature_values)
        
        class_conditional_densities[class_value].append(feature_density)

print("Class conditional densities:")
print(class_conditional_densities)

['ag', 'incom', 'studen', 'credit_ratin', 'buys_compute']
Class conditional densities:
{'no': [{'a': 1.0}, {'g': 1.0}], 'yes': [{'i': 1.0}, {'n': 1.0}, {'c': 1.0}, {'o': 1.0}, {'m': 1.0}]}

In [14]:
from scipy.stats import chi2_contingency

In [23]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

features = data.drop(columns=['age', 'buys_computer'], axis=1)
buys_computer = data['buys_computer']

In [19]:
features

    income student credit_rating
0     high      no          fair
1     high      no     excellent
2     high      no          fair
3   medium      no          fair
4      low     yes          fair
5      low     yes     excellent
6      low     yes     excellent
7   medium      no          fair
8      low     yes          fair
9   medium     yes          fair
10  medium     yes     excellent
11  medium      no     excellent
12    high     yes          fair
13  medium      no     excellent

In [25]:
# replace values with numbers

features = features.replace({'high': 0, 'medium': 1, 'low': 2})
features = features.replace({'excellent': 0, 'fair': 1})
features = features.replace({'yes': 0, 'no': 1})

features

    income  student  credit_rating
0        0        1              1
1        0        1              0
2        0        1              1
3        1        1              1
4        2        0              1
5        2        0              0
6        2        0              0
7        1        1              1
8        2        0              1
9        1        0              1
10       1        0              0
11       1        1              0
12       0        0              1
13       1        1              0

In [26]:


# label encoder buys_computer

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
buys_computer = le.fit_transform(buys_computer)
# features = le.fit_transform(features)

#
# Split the data into training and testing sets
Tr_X, Te_X, Tr_y, Te_y = train_test_split(features, buys_computer, test_size=0.3, random_state=42)

# Assuming Tr_X, Tr_y, Te_X, Te_y are your training and testing data
# Replace these placeholders with your actual data

# Instantiate the Gaussian Naïve Bayes model
model = GaussianNB()

# Train the model
model.fit(Tr_X, Tr_y)

# Predict on the test set
predictions = model.predict(Te_X)

# Calculate accuracy
accuracy = accuracy_score(Te_y, predictions)
print(f"Accuracy of the Naïve Bayes classifier: {accuracy}")
print(classification_report(Te_y, predictions))

Accuracy of the Naïve Bayes classifier: 0.6
              precision    recall  f1-score   support

           0       0.50      0.50      0.50         2
           1       0.67      0.67      0.67         3

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5